# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- OS Specific ---
.DS_Store
.AppleDouble
.LSOverride

# --- Application ---
logs/*
!logs/.gitkeep
archive/

# --- IDEs ---
.vscode/
.idea/
