# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- OS Specific ---
.DS_Store
.AppleDouble
.LSOverride

# --- Application ---
logs/*
!logs/.gitkeep
archive/

# --- IDEs ---
.vscode/
.idea/

# --- Data & Recordings ---
recordings/*.mp4
recordings/live/
recordings/tmp/

# --- Docker Volumes (if mapped locally) ---
mosquitto/data/
influxdb2_data/
grafana_data/
