services:
  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: autel_broker
    restart: unless-stopped
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ../config/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log

  mediamtx:
    image: bluenviron/mediamtx:latest
    container_name: autel_video
    restart: unless-stopped
    ports:
      - "1935:1935"
      - "8554:8554"
      - "8888:8888"
      - "8889:8889"
    environment:
      - MTX_PROTOCOLS=tcp
      # THIS LINE FIXES THE VIDEO LOADING:
      - MTX_HLSALLOWORIGIN=*
      - MTX_WEBRTCADDITIONALHOSTS=${MQTT_BROKER_HOST}

  influxdb:
    image: influxdb:2.7
    container_name: autel_influx
    restart: unless-stopped
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUX_USER}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUX_PASS}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUX_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUX_BUCKET}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUX_TOKEN}
    volumes:
      - influxdb_data:/var/lib/influxdb2

  grafana:
    image: grafana/grafana:latest
    container_name: autel_grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    depends_on:
      - influxdb
      - mediamtx
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASS}
      - GF_SECURITY_ALLOW_EMBEDDING=true
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  mosquitto_data:
  mosquitto_log:
  influxdb_data:
  grafana_data:
